.about {
    margin-top: 29px;
    margin-bottom: 89px;
    font-family: gillSans;

    .about-header {

        h1 {
            margin-top: 0px;
            margin-bottom: 2px;
            font-size: 60px;
            font-family: gillSans;
            font-weight: 1;
            letter-spacing: 5px;
        }

        p {
            font-size: 16px;
        }

        .border-bottom {
            width: 171px;  
            height: 2px;
            margin-bottom: 36.5px;
            background-color: black;
           
        }
    }

    .about-client-quotes {
        margin-top: 107px;
        font-family: gillSans;
        line-height: 19px;
        
        .border-bottom-two {
            width: 255px;  
            height: 2px;
            margin-bottom: 36.5px;
            background-color: black;
            margin-top: 15px;
           
        }
        .client-quotes-title {
            color: black;
            font-size: 40px;
            margin-bottom: 3.5px;
            font-family: gillSans;
            letter-spacing: 5px;
        }

        .client-box {
            max-width: 772px;
            display: flex;
            position: relative;
            margin-bottom: 37px;
            
            .client-image {
            max-width: 260px;
            max-height: 150px;
            overflow: hidden;
            margin-right: 21px;

                img {
                    width: 100%;
                    
                }
            }

            .client-quote {
                max-width: 440px;
                margin-bottom: 20px;
            }

            .client-name {
                position: absolute;
                bottom:0;
                right: 0;
                color: $site-background;
                font-size: 20px;
                letter-spacing: 2px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .about-header {
        margin-left: 5px;

        p {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .border-bottom {
        margin-left: 5px;
    }

    
}